@font-face {
    font-family: "Pixel";
    src: url("port/pixel.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Pixel";
}

body {
    /* background-image: url(port/yellowstone-pixel-moewalls-com.gif);
    background-size: cover; */
}

#bg-videos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 60%;
    max-height: 100%;
    width: 60%;
    height: 100%;
    /* margin: auto;
    margin-top: 40px;
    margin-bottom: 40px; */
    /* border-radius: 50px; */
    overflow: hidden;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}

.intext {
    display: block;
    color:  white;
    font-size: 10px;
    text-align: center;
    margin-top: 50px;
}

.intext img {
    /* border-radius: 20px; */
    max-width: 200px;
    max-height: 200px;
    /* width: 150px;
    height: 150px; */
    margin-top: 10px;
}

.social {
    max-height: 220px;
    margin: 30px;
    border: solid rgb(255, 253, 253) 2px;
    border-radius: 30px;
    height: 220px;
}

.continerso {
    margin: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box {
    text-align: center;
    border: solid white 2px;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
}

.box a {
    text-decoration: none;
    color: white;
}

.textso {
    margin: 10px;
}

.texts {
    max-height: 290px;
    height: 290px;
}